name: Build and Deploy Storybook

on:
  push:
    branches:
      - main 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install
        working-directory: ./ 

      - name: Build Storybook
        run: npm run build:storybook
        working-directory: ./packages/react

      - name: Deploy to GitHub Pages
        run: npm run publish:storybook
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}